[user]
	name = Leonardo de Abreu
	email = leonardo.abreu@lia.ufc.br
[core]
	editor = nvim
[color]
	ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
