* {
	background-image: none;
	box-shadow: none;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
	font-family: 'Fira Sans Medium';
	font-size: 1rem;
	margin: 2rem;
	border-radius: 24px;
	padding: 1rem;

	/* border-radius: 0; */
	border-color: #94e2d5;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}

#lock {
    background-image: url("<CONFIG_HOME>/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("<CONFIG_HOME>/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("<CONFIG_HOME>/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("<CONFIG_HOME>/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("<CONFIG_HOME>/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("<CONFIG_HOME>/wlogout/icons/reboot.svg");
}
