open_last_document                       ç
open_document_embedded                   <C-O>
open_document_embedded_from_current_path <C-p>
open_document_embedded_from_current_path \p
screen_up_smooth                         <C-u>
screen_down_smooth                       <C-d>
move_visual_mark_up                      k
move_visual_mark_down                    j
move_up_smooth                           K
move_down_smooth                         J
move_left_smooth                         H
move_right_smooth                        L
zoom_in                                  <C-j>
zoom_out                                 <C-k>
zoom_in                                  <C-J>
zoom_out                                 <C-K>
move_up                                  <C-y>
move_down                                <C-e>
next_page                                <C-f>
prev_page                                <C-b>
next_state                               <C-i>
prev_state                               <C-o>
copy;close_visual_mark                   <C-c>
goto_mark                                '
enter_visual_mark_mode                   <A-f>
enter_visual_mark_mode                   V
synctex_under_cursor                     e
regex_search                             <C-/>
focus_text                               ?
toggle_custom_color                      x
goto_next_tab                            gt
goto_prev_tab                            gT
goto_next_highlight                      ]h
goto_prev_highlight                      [h
goto_next_highlight                      ]q
goto_prev_highlight                      [q
next_chapter                             ]]
prev_chapter                             [[
next_chapter                             ]c
prev_chapter                             [c
toggle_two_page_mode                     D
change_highlight                         ch
edit_selected_highlight                  ca
add_annot_to_highlight                   I
add_annot_to_selected_highlight          A
add_freetext_bookmark                    i
add_freetext_bookmark                    a
edit_visible_bookmark                    cb
edit_selected_bookmark                   cc
move_selected_bookmark                   y
toggle_freehand_drawing_mode             B
set_freehand_type                        <A-c>
set_freehand_thickness                   }
set_freehand_alpha                       {
delete_freehand_drawings                 E
select_freehand_drawings                 <C-a>
undo_drawing                             <C-z>
clear_current_page_drawings              <C-Z>
clear_current_document_drawings          <C-X>
toggle_drawing_mask                      <C-x>
turn_on_all_drawings                     <A-z>
turn_off_all_drawings                    <A-x>
embed_annotations                        <C-s>
[m]control_menu(delete_prev_char)        <C-h>
[m]control_menu(delete_prev_word)        <C-w>
[m]control_menu(move_to_begin)           <C-a>
[m]control_menu(move_to_end)             <C-e>
[m]control_menu(down)                    <C-j>
[m]control_menu(up)                      <C-k>
