snippet make "Default C Makefile"
CC := clang
DFLAGS := -g -gdwarf
CCFLAGS := $(DFLAGS) ${3:-I../include}
LDFLAGS := ${4:-L../libs} ${5:-lm}

TARGETS:= ${1/([^.]+).*/$1/}
MAIN   := ${1:main.o}
OBJ    := ${1/(\.+.*)/$1/} ${2:obj.o}
DEPS   :=

.PHONY: all, clean

all: $(TARGETS)

$(OBJ): %.o : %.c $(DEPS)
		$(CC) -c -o $@ $< $(CCFLAGS)

$(TARGETS): % : $(filter-out $(MAIN), $(OBJ)) %.o
		$(CC) -o $@ $(LIBS) $^ $(CCFLAGS) $(LDFLAGS)

clean:
		rm -f $(TARGETS) $(OBJ)

endsnippet
