@import "mocha.css";

* {
  font-family: Fira Sans, DejaVu Sans, FiraCode Nerd Font, FantasqueSansM Nerd Font, sans-serif;
  font-size: 13px;
  min-height: 0;
  padding: 0;
}

#waybar {
  background: rgba(17,17,27,0.85); /* @crust */
  color: @text;
  margin: 0px;
}

#workspaces {
  border-radius: 1rem;
  margin: 2px;
  background-color: @base;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#window {
  border-radius: 1rem;
  margin: 2px 0.5rem 2px 0.5rem;
  background-color: rgba(17,17,27,0.0);
  padding: 0 1rem 0 1rem;
}

#window:hover {
  /* background-color: @surface0; */
    color: @teal;
}

#cpu {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#idle_inhibitor,
#custom-music,
#tray,
#backlight,
#time,
#network,
#battery,
#temperature,
#memory,
#cpu,
#power-profiles-daemon,
#backlight,
#pulseaudio,
#pulseaudio-slider,
#custom-hyprsunset,
#custom-lock,
#custom-power {
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 2px 0px 2px 0px;
}

#idle_inhibitor:hover,
#custom-music:hover,
#backlight:hover,
#time:hover,
#network:hover,
#battery:hover,
#temperature:hover,
#memory:hover,
#cpu:hover,
#power-profiles-daemon:hover,
#backlight:hover,
#bluetooth:hover,
#pulseaudio:hover,
#custom-hyprsunset:hover,
#custom-lock:hover,
#custom-dropdown:hover,
#custom-micmonitor:hover,
#custom-power:hover {
  background-color: @surface0;
}

#time {
  border-radius: 1rem;
}

#clock {
  color: @blue;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

#custom-notification {
  color: @blue;
  margin-right: 0;
  padding-right: 0;
}

#power-profiles-daemon {
  color: @blue;
  border-radius: 0px 0px 0px 0px;
  padding-right: 3ex;
}

#network {
  color: @teal;
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  /* border-radius: 0px 1rem 1rem 0px; */
  /* margin-right: 4px; */
}

#network.ethernet,
#network.wifi {
  color: @teal;
}

#network.disconnected {
  color: @teal;
}

#network.disabled {
  color: @yellow;
}

#bluetooth {
  color: @sapphire;
}

#battery {
  color: @green;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 2px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight {
    border-radius: 0;
}

#idle_inhibitor {
  color: @peach;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-micmonitor,
#pulseaudio-slider,
#pulseaudio {
  color: @maroon;
  border-radius: 0px;
  padding: 0.5rem 0.5rem;
}

#pulseaudio-slider:hover highlight {
	background: @pink;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 5rem;
    border-radius: 5px;
    background: black;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 1rem;
    background: @maroon;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#temperature {
    margin-right: 1rem;
    padding-right: 1.5rem;
    border-radius: 0px 1rem 1rem 0px;
}

#tray {
  margin-right: 0px;
  padding-right: 0.4rem;
  /* border-radius: 1rem 0px 0px 1rem; */
}

#custom-launcher {
  background-color: transparent;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 2px 2px 2px 3px;
}

#custom-launcher:hover {
    color: @teal;
}

#bluetooth,
#custom-micmonitor,
#custom-hyprsunset,
#custom-dropdown {
  background-color: @base;
  padding: 0.5rem 0.7rem;
  margin: 2px 0px 2px 0px;
}

#custom-dropdown {
  color: @overlay1;
}

#custom-power {
    margin-right: 2px;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#gamemode {
	padding: 0.5rem 0.7rem;
	margin: 2px 0px 2px 0px;
}

#custom-hyprsunset {
	padding: 0.5rem 0.25rem 0.5rem 0.7rem;
	color: @red;
}

#custom-hyprsunset:hover {
	color: @mauve;
}

tooltip {
    background: @crust;
    border-radius: 12px;
	padding: 2rem;
}

tooltip label {
    color: @text;
    font-size: 13px;
}

tooltip > box {
	margin: 8px;
}
