.xfce4-panel {
  border: none;
  font-weight: 700;
  text-shadow: none;
  -gtk-icon-shadow: none;
  border-radius: 0px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.50);
}

#XfcePanelWindow {
  padding-left: 40px;
  padding-right: 40px;
}

#whiskermenu-window {
  /* background-color: rgba(49, 51, 56, 0.95); */
  background-color: rgba(24, 24, 24, 0.85);
  box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.70);
}

#whiskermenu-window treeview,
#whiskermenu-window .frame {
  border: none;
  background-color: rgba(36, 36, 36, 0.2);
}
#whiskermenu-window .view {
  padding: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
}

#whiskermenu-window .view:hover {
  background-color: rgba(38, 38, 38, 0.7);
  border: 1px solid rgba(41,41,41,0.9);
  -gtk-icon-shadow: none;
}

#whiskermenu-window .view:active,
#whiskermenu-window .view:active:hover {
  background-color: rgba(21, 21, 21, 1.0);
}

.xfce4-panel .tasklist .toggle {
}

.xfce4-panel button:active,
.xfce4-panel button:hover,
.xfce4-panel button:active:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

wnck-pager {
  background-color: rgba(255, 255, 255, 0.02);
  border: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
}

wnck-pager:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

wnck-pager:active, wnck-pager:checked, wnck-pager:selected {
  background-color: rgba(0, 0, 0, 0.80);
}

#indicator-button {
  padding: 0 4px;
}

#clock-button {
  padding: 0 4px;
  border: none;
  margin-right:5px;
}

#sn-button {
}

#xfce4-power-manager-plugin {
  padding: 0 4px;
  font-weight: 600;
}

#xkb-8 {
  padding: 0 4px;
  font-weight: 300;
}
